<div class="table-responsive">

    <div class="panel panel-info">
        <div class="panel-heading">Cadastro de Horas</div>
        <div class="panel-body">

            <form>

                <fieldset class="form-group col-lg-6">
                    <label for="selectConta">Contas:</label>
                    <select id="selectConta" class="c-select form-control">
                        <option selected>-</option>
                        <option>Projetos</option>
                        <option>Férias</option>
                        <option>Ausência</option>
                        <option>Administrativa</option>
                        <option>Sustentação</option>
                    </select>
                </fieldset>
                <fieldset class="form-group col-lg-6">
                    <label for="selectProjeto">Projetos:</label>
                    <select id="selectProjeto" class="c-select  form-control">
                        <option selected>-</option>
                        <option>Arrecadação</option>
                        <option>Carreteiro</option>
                        <option>Garantia de Margem</option>
                        <option>Relatório de Margens</option>
                        <option>Simulador de Compras</option>
                    </select>
                </fieldset>
                <fieldset class="form-group col-lg-6">
                    <label for="selectTipoLancamento">Tipo do Lançamento:</label>
                    <select id="selectTipoLancamento" class="c-select  form-control">
                        <option selected>-</option>
                        <option>Normal</option>
                        <option>Adicional</option>
                        <option>Sobreaviso</option>
                    </select>
                </fieldset>
                <fieldset class="form-group col-lg-6">
                    <label for="selectColaboradores">Colaboradores:</label>
                    <select id="selectColaboradores" class="c-select  form-control">
                        <option selected>-</option>
                        <option>Eduardo Cortes</option>
                        <option>Guilherme Reis</option>
                        <option>Daniel Freitas</option>
                    </select>
                </fieldset>

                <fieldset class="form-group col-lg-2">
                    <label for="inputDataInicial">Horas:</label>
                    <input type="text" id="inputDataInicial" class="form-control">
                </fieldset>

                <fieldset class="form-group col-lg-12">

                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-ok"></span>
                        Lançar Horas
                    </button>

                    <button type="button" class="btn btn-danger" ng-click="irParaMenu()"><span class="glyphicon glyphicon-backward"></span> Voltar</button>

                </fieldset>



            </form>

        </div><!--panel-body-->

    </div><!--panel panel-info -->

</div><!--table-responsive-->