<div class="header clearfix">
    <div ng-include="'app/views/navBar.html'"></div>
    <h4 class="text-muted">Relatório de Horas</h4>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Filtros
    do Relatório</div>
    <div class="panel-body">
        <form>


            <fieldset class="form-group col-lg-6">
                <label for="selectConta">Contas:</label>
                <select id="selectConta" class="c-select form-control" ng-model="conta.id">
                    <option selected>-</option>
                    <option ng-repeat="conta in contas" value="{{conta.id}}">{{conta.nome}}</option>
                </select>
            </fieldset>
            <fieldset class="form-group col-lg-6">

                <label for="selectProjeto">Projetos:</label>
                <select id="selectProjeto" class="c-select  form-control">
                    <option selected>-</option>
                    <option>Arrecadação</option>
                    <option>Carreteiro</option>
                    <option>Garantia de Margem</option>
                    <option>Relatório de Margens</option>
                    <option>Simulador de Compras</option>
                </select>


            </fieldset>
            <fieldset class="form-group col-lg-12">


                <label for="selectTipoLancamento">Tipo do Lançamento:</label>
                <select id="selectTipoLancamento" class="c-select  form-control">
                    <option selected>-</option>
                    <option>Normal</option>
                    <option>Adicional</option>
                    <option>Sobreaviso</option>
                </select>

            </fieldset>
            <fieldset class="form-group col-lg-6">


                <label for="inputDataInicial">Data Inicial:</label>
                <input type="date" id="inputDataInicial" class="form-control">

            </fieldset>
            <fieldset class="form-group col-lg-6">

                <label for="inputDataInicial">Data Final:</label>
                <input type="date" id="inputDataFinal" class="form-control">

            </fieldset>
            <fieldset class="form-group col-lg-12">

                <button class="btn btn-primary " type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    Pesquisar
                </button>

                <button type="button" class="btn btn-danger" ng-click="irParaMenu()"><span class="glyphicon glyphicon-backward"></span> Voltar</button>
            </fieldset>


        </form>
    </div>
</div>

<div class="page-header">
    <h4>Relatório</h4>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Hora</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>01/02/2016</td>
        <td>Normal</td>
        <td>06:00</td>
    </tr>
    <tr>
        <td>02/02/2016</td>
        <td>Normal</td>
        <td>06:00</td>
    </tr>
    <tr>
        <td>03/02/2016</td>
        <td>Normal</td>
        <td>06:00</td>
    </tr>
    <tr>
        <td>04/02/2016</td>
        <td>Adicional</td>
        <td>02:30</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th>20:30</th>
    </tr>
    </tfoot>
</table>
<ul class="pager">
    <li class="previous"><a href="#">&larr; Previous</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
</ul>