<div class="header clearfix">
    <div ng-include="'app/views/navBar.html'"></div>
    <h4 class="text-muted">Relatório de Horas por Colaborador</h4>
</div>

<div class="table-responsive">

    <div class="panel panel-info">
        <div class="panel-heading">Filtros
        do Relatório</div>
        <div class="panel-body">
            <form>


                <fieldset class="form-group col-lg-6">
                    <label for="selectConta">Contas:</label>
                    <select id="selectConta" class="c-select form-control">
                        <option selected>-</option>
                        <option ng-repeat="conta in contas" value="{{conta.id}}">{{conta.nome}}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group col-lg-6">
                    <label for="selectProjeto">Projetos:</label>
                    <select id="selectProjeto" class="c-select  form-control">
                        <option selected>-</option>
                        <option ng-repeat="projeto in projetos" value="{{projeto.id}}">{{projeto.nome}}</option>
                    </select>


                </fieldset>
                <fieldset class="form-group col-lg-6">
                    <label for="selectTipoLancamento">Tipo do Lançamento:</label>

                    <select id="selectTipoLancamento" class="c-select  form-control">
                        <option selected>-</option>
                        <option ng-repeat="tipoLancamento in tiposLancamentos" value="{{tipoLancamento.id}}">
                            {{tipoLancamento.nome}}
                        </option>
                    </select>

                </fieldset>

                <fieldset class="form-group col-lg-6">
                    <label for="selectColaboradores">Colaboradores:</label>
                    <select id="selectColaboradores" class="c-select  form-control">
                        <option selected>-</option>
                        <option ng-repeat="colaborador in colaboradores" value="{{colaborador.id}}">
                            {{colaborador.nome}}
                        </option>
                    </select>

                </fieldset>
                <fieldset class="form-group col-lg-6">


                    <label for="inputDataInicial">Data Inicial:</label>
                    <input type="date" id="inputDataInicial" class="form-control">

                </fieldset>
                <fieldset class="form-group col-lg-6">

                    <label for="inputDataInicial">Data Final:</label>
                    <input type="date" id="inputDataFinal" class="form-control">

                </fieldset>
                <fieldset class="form-group col-lg-12">

                    <button class="btn btn-primary " type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                        Pesquisar
                    </button>


                </fieldset>


            </form>
        </div>
    </div>
</div>

<div class="page-header">
    <h4>Relatório</h4>
</div>

<table class="table table-hover">
    <thead>
        <th>Colaborador</th>
        <th>Id</th>
        <th>Horas</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in relatorioHorasColaborador">
        <td>{{item.nome}}</td>
        <td>{{item.id}}</td>
        <td>{{item.hora}}</td>
    </tr>
    </tbody>
</table>
<ul class="pager">
    <li class="previous"><a href="#">&larr; Previous</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
</ul>
