<div class="container">

    <div ng-if="login.error" class="alert alert-danger" role="alert">
        <strong>Login inválido!</strong> Por favor, verifique o usuário e senha e tente novamente.
    </div>

    <form name="form" class="form-signin">
        <h2 class="form-signin-heading">Login</h2>

        <label for="inputUsuario" class="sr-only">Usuário</label>
        <input type="text" id="inputUsuario" ng-model="login.inputUsuario" class="form-control" placeholder="Usuário" required autofocus>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" ng-model="login.inputPassword" id="inputPassword" class="form-control" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-click="logar(login)">Log in</button>
        <button class="btn btn btn-lg btn-danger btn-block" type="button" onclick="location.href='../../index.html'" >
            Cancelar
        </button>
    </form>

</div> <!-- /container -->



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
